body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 29px;
}
.orange-color{
    color: orange;
}

.flexible{
    display: flex;
    margin-bottom: 100px;
}

.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 90%;
}

.link-btn{
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    
}

.dream-section{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experienced-section{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experienced-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}

#orange-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#blue-border{
    border-left: 7px solid;
    border-image: linear-gradient(orange, salmon);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}